@font-face {
  font-family: iran-sans;
  src: url('assets/fonts/iransans/IRANSansX-Regular.woff') format('woff'),
       url('assets/fonts/iransans/IRANSansX-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: iran-sans;
  src: url('assets/fonts/iransans/IRANSansX-Bold.woff') format('woff'),
       url('assets/fonts/iransans/IRANSansX-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@import 'tailwindcss';

@theme {
  --font-sans: iran-sans;
  --font-mono: "Space Grotesk", monospace;
  --color-main: #F4CA39;
  --color-dark: #191A23;
  --color-light: #F3F3F3;
}